li {
  list-style: none;
}
ul {
  display: flex;
}
.link {
  font-family: "Roboto";
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  color: #333333;
  text-decoration: none;
  transition: color 0.3s linear;
}
.link:hover {
  color: orange;
}
